.navbar {
    display: inline-block;
    margin-top: 5rem;
    margin-left: 3rem;
    background-color: lightseagreen;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#logo img {
    width: 5em;
    margin-left: 20%;
    margin-top: 2rem;
}

.menu-illustration ul {
    list-style: none;
    font-size: 2rem;
    padding: 1rem;
}

.menu-illustration li:not(:last-child) { 
    margin-bottom: 1.5rem;  
 }

.menu-illustration a{
    text-decoration: none;
    color: black;
}

.menu-illustration a:hover {
    color: green ;
    transition: all 0.75s;
    
}

.menu-side-menu ul {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 3em;
    margin-bottom: 4rem;
}

.menu-side-menu li:not(:last-child) { 
    margin-bottom: 0.7rem;  
 }

.menu-side-menu a {
    text-decoration: none;
    color: black; 
}

.menu-side-menu a:hover {
    color: green ;
    transition: all 0.75s; 
}

.useful-links {
    margin-left: 40px;
}
.useful-links a {
    padding: 2px;
}